body {
    padding: 0px;
    margin: 0px;
    
}
* {
    box-sizing: border-box;
}

header {
    
    
    display: flex;
    background-color: #131921;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    color: white;
    font-weight: bold;
}
header a img {
    width: 10vw;
}

header .search-container button:first-child,
button:last-child {
    padding: 1rem 2rem;
    margin-right: -0.3rem;
    border: none;
    background-color: #ff8a1a;
    color: white;
    font-size: 1rem;
    }
header .search-container button:last-child {
    margin-left: -0.3rem;
}

header .search-container input {
    padding: 1rem 2rem;
    border: none;
    width: 30vw;
}
header .search-container button:first-child:hover,
button:last-child:hover {
    background-color: #c96200;
}
header .search-container input:focus {
    outline: none;
}

header .hello-message .fa-sort-down:hover{
    color: #c96200;

}
header .basket{
    position: relative;
}
header .basket :hover{
    color: #c96200;
}
header .basket .fa-cart-shopping{
    font-size: 1.5rem;
}
header .basket .amount{
    position: relative;
    color: #c96200;
    top:-1.5rem;
    left: 1.5rem;
}
.header .search-container button:first-child,
.header .search-container button:last-child,
.header .hello-message,
.header .basket:hover {
    cursor: pointer;
}
.navbar{
    
    
    background-color: #042754;
}

.navbar .navbar-item {
   display: inline-block;
   text-decoration: none;
   padding: 1rem 1.5rem;
   background-color: #042754;
   color: white; 
}
.navbar .navbar-item:hover{
    background-color: #c96200;
}
main{
    display: flex; 
}
/*WHY WE USE MİN WİDTH HERE!!!!!*/
.sidebar{
    width: 55vw;
    padding: 2rem;
}
.sidebar .category h4{
    color:#ff8a1a;
    border-bottom: 1px solid  #232f3e;
}
.sidebar .category div{
    margin-bottom: 0.5rem;
}
.sidebar .price h4{
    color:#ff8a1a;
    border-bottom: 1px solid  #232f3e;
}
.sidebar .price >a{
    display:block;
    text-decoration: none;
    margin-bottom: 0.5rem;
    color: #232f3e;
}

.sidebar .category div:hover ,.price a:hover{
    cursor :pointer;
    color: #ff8a1a;
  }

  .sidebar .category input:hover {
    cursor: pointer;
  }

  .sidebar .price input{
      width: 10vw;
      padding:0.6rem 0.8rem;
      border: 1px solid #ff8a1a;
  }
  .sidebar .price input:focus{
        outline: none;
  }
  .sidebar .price button{
      padding: 0.6rem 0.8rem;
  }
  .sidebar .price input,button:hover{
      cursor:pointer;
  }

.product{
    padding: 2rem;
    display: flex;
}
.product-images{
    display: flex;
    flex-direction: column;
}
.product-images .main-image{
    margin-bottom: 2rem;
}
.product-images .main-image img{
    width: 400px;
    margin-left: 2rem;
}
.product-images .main-image:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: all 0.5s;
    
   
}
.product-images .small-images{
    display: flex;
    gap: 1rem;
}
.small-images img{
    width: 100px;
    margin-right: 2rem;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px;
}
.product-images .small-images img:hover{
    cursor: pointer;
    transition: all 0.5s;
    transform: scale(1.3);
    
}
.product-details p{
    font-size: 1rem;
    font-weight: bold;
}

.product-star{
    color: #ff8a1a;
}

.product-star span{
    color: black;
}
.product-price{
    margin-top: 1rem;
}
  
.product-price span:first-child{
    font-size: 1rem;
    color: #ff8a1a;
    text-decoration: line-through;
    margin-right: 10px;
}
.product-price  span:last-child{
    font-size:1.5rem ;
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: #042754;
    padding: 0.5rem;
}

.footer-column h4{
    color: #ff8a1a;
    text-align: center;
}
.footer-column ul li{
    list-style-type: none;
    margin-bottom: 0.5rem;
   
}
.footer-column ul li a{
    text-decoration: none;
    color: white;
   
}
.footer-column ul li a:hover{
    color: #ff8a1a;
}

.footer-column ul {
    margin: 0px;
    padding: 0px;
  }

@media screen and  (max-width:900px) {
    header{
        display: flex;
        flex-direction: column;
    }
    header .hello-message{
        display: none;
    }
    header .basket{
        display: none;
    }

    .navbar{
        display: flex;
        flex-direction: column;
    }

    .navbar a:hover{
        color: #c96200;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .main .product{
        order: 1;
    }
    .main .product{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main .sidebar{
        order: 2;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    
}
/*

//****************FOOTER DETAILS*******



.footer-column h4 {
  color: #ff8a1a;
}

.footer-column ul {
  margin: 0px;
  padding: 0px;
}

.footer-column ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: #ff8a1a;
}

//********MEDIA SCREEN RESPONSIVE DESIGN 
@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .header .hello-message,
  .header .basket {
    display: none;
  }

  .header img {
    margin-bottom: 1rem;
  }

  .navbar {
    border-bottom: none;
    border-left: 2px solid #ff8a1a;
  }

  .navbar .navbar-item {
    display: block;
  }

  .main {
    flex-direction: column-reverse;
  }

  .product {
    flex-direction: column;
    padding-bottom: 0px;
  }

  .product-images {
    margin-bottom: 1rem;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}





.product-price span:last-child {
  font-size: 2rem;
}

.product-about {
  margin-top: 1rem;
}

.add-to-cart {
  border: none;
  padding: 1rem 1.5rem;
  background-color: #ff8a1a;
  color: white;
  font-size: 1rem;
}

.add-to-cart:hover {
  background-color: white;
  color: #ff8a1a;
  border: 1px solid #ff8a1a;
  cursor: pointer;
  transition: all 0.5s;
}

.add-to-cart .fa-cart-plus {
  margin-right: 0.5rem;
}



//NAVBAR DİFFERENT SOLUTIONS//////
.navbar {
  background-color: #232f3e;
  border-bottom: 2px solid #ff8a1a;
}

.navbar .navbar-item {
  color: white;
  text-decoration: none;
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  padding: 0 2rem;
}

.navbar .navbar-item.active {
  background-color: #ff8a1a;
}

.navbar .navbar-item:hover {
  background-color: #ff8a1a;
}








/*WHY WE USE POSİTİON ABSOLUTE,
RELATIVE ALSO WORKS INSTEAD OF ABSOLUTE

.header .basket .amount {
    position: absolute;
    bottom: 1.5rem;
    left: 0.5rem;
    color: #ff8a1a;
}

*/
